{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title%}
Profile Page
{% endblock %}

{% block main %}
<div class="container">
    <br>
<h2>Your Profile</h2>
            {% if user.user_profile %}
                <img src="/media/{{ user.user_profile.profile_pic }}" class="rounded-circle" width="120px">
                <br><br>
                <a href="{% url 'my_profile:update_profile_pic' %}" class="btn btn-info btn-sm">Update Profile Image</a>

            {% else %}
                <img src="/media/default-pic.png" class="rounded-circle" width="120px">
                <br><br>
                <a href="{% url 'my_profile:add_profile_pic' %}" class="btn btn-info btn-sm">Add Profile Image</a>
            {% endif %}
            <h6>Username: <i>{{ user.username }}</i></h6>
            <h6>Email: <i>{{ user.email }}</i></h6>
            <h6>Name: <i>{{ user.first_name }} {{ user.last_name }}</i></h6>
            <a href="{% url 'my_profile:edit_profile' %}" class="btn btn-warning btn-sm">Edit Profile Info</a>
            <br><br><br>
        <a href="{% url 'my_profile:my_posts' %}" class="btn btn-warning btn-sm">Capsule Gram Profile</a>
    <br><br><br>
    <a href="{% url 'my_profile:my_stories' %}" class="btn btn-warning btn-sm">Time Travel Profile</a>
    </div>
{% endblock %}