<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %} <!-- Load static files in Django -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <title>
    {% block title %}
    {% endblock %}
  </title>
  <style>
    .navbar-custom {
    background-color: white;
  }
    h2 {
    color: #F3E603;
    }

    h6 {
    color: #550000;
    }

    a {
    color: #F3E603;
    }

  </style>
</head>

<body>
  <!-- Navbar -->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <a class="navbar-brand" href="{% url 'index'%}">
      <img src="{% static '/images/kame-logo.png' %}" alt="Logo">
    </a>
    <!-- Add your navbar links here -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a style="color: #F3E603" class="nav-link" href="{% url 'index'%}">Home</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a style="color: #F3E603" class="nav-link" href="{% url 'capsulegram:posts_page' %}">Capsule Gram</a>
      </li>
      <li class="nav-item">
        <a style="color: #F3E603" class="nav-link" href="{% url 'time_machine:get_ready' %}">Time Machine</a>
      </li>
      <li class="nav-item">
        <a style="color: #F3E603" class="nav-link" href="{% url 'my_profile:profile' %}">My Profile</a>
      </li>
      <li class="nav-item">
        <a style="color: #F3E603" class="nav-link" href="{% url 'login:logout' %}">Sign Out</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a style="color: #F3E603" class="nav-link" href="{% url 'login:login'%}">Sign In</a>
      </li>
      <li class="nav-item">
        <a style="color: #F3E603" class="nav-link" href="{% url 'login:signup' %}">Create Account</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <main>
    {% block main %}
    {% endblock %}
  </main>

  <!-- Footer -->
  <br>
  <footer style="background-color: #008000" class="text-center py-3">
    <p style="color: #F3E603">Developed By Kudzayi Bamhare 2023.</p>
  </footer>

 <!-- Bootstrap JS and jQuery -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  </div>
</body>

</html>